/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.search input {
    padding: 5px;
}

.search button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Estilos para el banner */
.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    border-radius: 5px;
}

.banner-text h2 {
    font-size: 36px;
}

.banner-text p {
    font-size: 18px;
}
